{% extends 'user/device/theme.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'user/css/device.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'user/css/table_span.css' %}" type="text/css" rel="stylesheet">
<style>

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form action="" method="POST">
                {% csrf_token %}
                <button class="mt-3 ml-3 device-add-btn">Upate device list</button>
            </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="box">Last updated : 3 hr ago</div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="shadow_box">
                <canvas id="monitor_chart" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow_box">
                <canvas id="last_seen_chart" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="mt-2">
                <h3>Devices</h3>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="count-box">
                <span>Rows per page : </span>
                <select name="" id="count_selector">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search.."
                class="search-bar">
        </div>
        <div class="col-md-4">
            <form action="update-device-lastseen" method="POST">
                {% csrf_token %}
                <button class="mt-3 ml-3 device-update-btn">Update device last seen</button>
            </form>
        </div>
    </div>

</div>

<div class="container-fluid mt-1 container-table paginated">

    <div class="row font-head-row">
        <div class="col-md-2">Device EUI</div>
        <div class="col-md-2">Device Addr</div>
        <div class="col-md-2">Last seen</div>
        <div class="col-md-2">Last update</div>
        <div class="col-md-2">Monitor Status</div>
        <div class="col-md-2">Reg. date</div>
    </div>

    {% for data in devices %}
    <div class="row bg-selector table-row" id="myTable">
        <div class="col-md-2">{{data.dev_eui}}</div>
        <div class="col-md-2">{{data.dev_addr}}</div>
        <div class="col-md-2">{{data.last_seen_at}}</div>
        <div class="col-md-2">{{data.updated_date}}</div>
        <div class="col-md-2">
            <form action="toggle-device-status" method="POST">
                {% csrf_token %}
                <input type="text" value="{{data.dev_eui}}" name="d_eui" hidden>
                <input type="text" value="{{data.monitor_status}}" name="d_status" hidden>
                {% if data.monitor_status == 1 %}
                <button class="status-btn bg-green">ON</button>
                {% else %}
                <button class="status-btn bg-red">OFF</button>
                {% endif %}
            </form>
        </div>
        <div class="col-md-2">{{data.reg_date}}</div>
    </div>
    {% endfor %}
</div>


<br><br><br>
<script>
    var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
    var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

    new Chart("last_seen_chart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "LAST SEEN STATUS"
            },
            legend: { display: false },
            scales: {
                yAxes: [{ ticks: { min: 6, max: 16 } }],
            }
        }
    });
</script>

<script>
    var xValues = ["Enabled({{device_status.active_device}})", "Disabled({{device_status.deactive_device}})"];
    var yValues = ["{{device_status.active_device}}", "{{device_status.deactive_device}}"];
    var barColors = [
        "#132b59",
        "#afb3ba"
    ];

    new Chart("monitor_chart", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "MONITOR STATUS"
            },
            legend: {
                position: 'bottom',
                align: 'start'
            }

        }
    });

</script>


<script src="{% static 'user/js/table_span.js' %}"></script>

<script>
    function myFunction() {
        
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        tr = document.getElementById("myTable");
        console.log(tr.length);

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("div")[0];
            console.log(td);
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {

                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


{% endblock %}