.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.box i {
  font-size: 2em;
}
.box h3 {
  text-transform: uppercase;
  color: gray;
  font-size: 15px;
  padding: 10px;
}
.box h2 {
  font-size: 20px;
  font-weight: 800;
}
.shadow_box {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.font-head-row > div {
  font-weight: 600;
  text-transform: uppercase;
}
.container-table {
  box-sizing: border-box;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  padding: 1em;
  text-align: center;
  margin: 1%;
  box-sizing: border-box;
  width: 98%;
}
.bg-selector:nth-child(even) {
  background-color: #f0f0f0;
}
.col-md-2 {
  padding: 10px;
  box-sizing: border-box;
}
.risk-div {
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
}
.high{
    background-color: #f60000;
}
.medium{
    background-color: #eba834;
}
.low{
    background-color: #ebd834;
}