div.pager {
    margin: 1em 0.5em;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #f4f4f4;
    color: #000;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #2094f3;
    color: white;
}