{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Lora</title>
    <link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet">
    <style>
        body {
            background: url("{% static 'home/images/home_bg.jpg' %}");
            min-width: 100vw;
            min-height: 100vh;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="main">
        <h3>Lora Aegis</h3>
        <a href="authentication/login">Login</a>
    </div>
</body>

</html>