html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #343232b5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h3 {
  color: white;
  font-size: 4em;
}

a {
  background-color: hsl(207deg 90% 54%);
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 22px;
  border-radius: 36px;
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
  font-size: 23px;
  font-family: serif;
}
